body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
section {
  text-align: center;
}
a {
  padding: 0.5rem 3rem;
  text-decoration: none;
  background: #5A6EEE;
  color: white;
  border-radius: 6px;
  display: block;
  width: max-content;
  margin: auto;
  margin-top: 2rem;
}
p {
  max-width: 70%;
  margin: auto;
}
body {
  background-image: radial-gradient(95.09% 118.5% at 43.64% 75.17%,rgba(162,188,255,.215) 45.19%,rgba(118,139,252,.5) 86.75%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
}
img {
  max-width: 20%;
  margin-bottom: 5rem;
}

@media only screen and (max-width:767px){

  img {
    max-width: 40%;
    margin-bottom: 2rem;
  }
  p {
      max-width: 90%;
  }
}